html{
    overflow-y: scroll;
    font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    margin: 0;
}
body{
    margin: 0;
}
header{
    background-color: coral;
    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0px;
    z-index:0;
    height: 300px;
    border-bottom: 1px solid black;
}
nav{
    padding: 10px;
    background-color: yellow;
}
.home{  
    width: 100%;
    height: 100%; 
}
footer{
    margin-top:30px;
    background-color: rgba(117, 90, 0, 0.582);
    color: whitesmoke;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-shadow: 1px 1px 2px black;
    text-align: center;
}


.regContainer{
    box-sizing: border-box;
    padding: 16px;
    width: 40%;
    justify-content: center;
    margin: auto;   
}
.regElements{
    width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
.regElements:hover{
    background-color: #ddd;
  outline: none;
}
.regButton {
    background-color: coral;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
.regButton:hover{
    opacity: 1;
}

nav {
    margin-top: 1px;
    background:transparent;
    min-height: auto;
    text-align: center;
    overflow: hidden;
    position: relative;
    bottom: 70px;
    float: right;
}
.navbutton {
    background-color:transparent;
    border-radius: 8px;   
    display: inline-block;
    vertical-align: middle;
    height: 38px;
    width: 138px;
    line-height: 38px;
    margin-right: 15px;

}
.navbutton:hover{
    background-color: rgba(175, 175, 175, 0.363);
}
.navbutton a:hover{
    color: rgb(1, 9, 14);
}
.navbutton a {
    text-decoration: none;
    color: rgb(20, 2, 2);
    text-shadow: 1px 1px 2px white;
}
.box{
    width: 70%;
    margin: auto;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
    background-color:coral;
    text-shadow: 1px 1px black;
    color: white;
    margin-top: 2%;
    margin-bottom: 2%;
}
.box a{
    text-decoration: none;
    color: rgb(6, 76, 99);
    font-weight: bold;
}
.contactBox{
    width: 30%;
    margin: auto;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
    background-color: coral;
    text-shadow: 1px 1px black;
    color: white;
    margin-top: 2%;
    justify-content: center;
}
.contactBox a{
    text-decoration: none;
    color: rgb(6, 76, 99);
    font-weight: bold;
}
.privateBox{
    width: 30%;
    margin: auto;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
    background-color: rgb(31, 30, 30);
    text-shadow: 1px 1px black;
    color: white;
    margin-top: 2%;
    justify-content: center;
    margin-bottom: 2%;
}