html{
    overflow-y: scroll;
    font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    margin: 0;
}
body{
    margin: 0;
}
header{
    background-color: coral;
    position: relative;
    margin: 0px;
    z-index:0;
    height: 300px;
    border-bottom: 1px solid black;
}
nav{
    padding: 10px;
    background-color: yellow;
}
.home{  
    width: 100%;
    height: 100%; 
}
footer{
    margin-top:10px;
    background-color: rgba(105, 105, 105, 0.582);
    color: whitesmoke;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-shadow: 1px 1px 2px black;
}


.regContainer{
    box-sizing: border-box;
    padding: 16px;
    width: 40%;
    justify-content: center;
    margin: auto;   
}
.regElements{
    width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
.regElements:hover{
    background-color: #ddd;
  outline: none;
}
.regButton {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
.regButton:hover{
    opacity: 1;
}